body{
	/*background-image:url(Lighthouse.jpg);
	background-size: 100% ;
	background-repeat:no-repeat;*/
	background-color: #2F2B58;

}
h1{
	text-align: center;
	color: #F2DEAA;
}
form{
	border:3px solid black;
	border-radius:30px;
	width:300px;
	padding:15px 15px;
	margin:100px auto;
	color: #F2DEAA;

}
.form-control{
	 background-color:#2F2B58 ;
	 border: none;
	 border-bottom:2px solid white;

}
